<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>dogoween</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="pageWrap">

        <header>
            <h1>happy dog-o-ween</h1>
        </header>

        <div id="content">
            <div id="dog">
                <img src="https://gimmebar-assets.s3.amazonaws.com/4f37fd367e4e5.png" />
            </div>
            <div id="controls">
                <a href="#" id="newdog" class="button">new dog</a>

                <a href="#" id="treat" class="candy">THIS DOG IS AWESOME I WANT TO GIVE IT CANDY</a>
            </div>
            <br style="clear:both;" />
        </div>

        <footer>
            <h3>Powered by</h3>
            <a href="http://www.meetup.com"><img src="http://img2.meetupstatic.com/906521611995523788/img/header/logo.png" width="66" height="44" /></a>
        </footer>

    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/dogoween.js"></script>
</body>
</html>
